.row
  = image_tag 'home_banner_1_placeholder.png'

.row
  .large-4.columns
    = image_tag 'home_icon_placeholder.png'
    %h2 La Cocina Events
    %p Eat, laugh and learn something new
    %button.button See Our Events
  .large-4.columns
    = image_tag 'home_icon_placeholder.png'
    %h2 La Cocina Events
    %p Eat, laugh and learn something new
    %button.button See Our Events
  .large-4.columns
    = image_tag 'home_icon_placeholder.png'
    %h2 La Cocina Events
    %p Eat, laugh and learn something new
    %button.button See Our Events

.row
  = image_tag 'home_banner_2_placeholder.png'

.row
  .large-8.columns
    .large-6.columns
      %h2 36 business owners
      %hr
      %h2 95%
      %h4 of La Cocina business owners are women
    .large-6.columns
      %h2 19 immigrants
      %hr
      %h2 +150,000
      %h4 hours of kitchen rental
  .large-4.columns
    %iframe{src: "https://maps.google.com/maps/ms?msa=0&amp;msid=208632012759605526147.0004acde070f01b1e090c&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;vpsrc=0&amp;ll=37.7718,-122.422886&amp;spn=0.027138,0.034161&amp;z=13&amp;output=embed", frameborder: "0", marginwidth: "0", marginheight: "0", scrolling: "no", width: "200", height: "200"}
    %p map goes here - cannot embed currently
