.row
  = image_tag 'home_banner_1_placeholder.png'

.row.call-to-action-boxes
  .medium-4.columns.text-center
    = image_tag 'event.png'
    %h4 La Cocina Events
    %p Eat, laugh and learn something new
    = link_to 'See our events', events_path, class: 'button'
  .medium-4.columns.text-center
    = image_tag 'involved.png'
    %h4 Get Involved
    %p Be part of the movement
    = link_to 'Get Involved', '/get_involved', class: 'button'
  .medium-4.columns.text-center
    = image_tag 'gift.png'
    %h4 La Cocina Gift Boxes
    %p Make a difference
    = link_to 'Buy a gift box', 'http://lacocinastore.mybigcommerce.com/gift-box', class: 'button'

.row
  = image_tag 'home_banner_2_placeholder.png'

.row
  .large-8.columns.stats
    .row
      .large-6.columns
        %h1.secondary 94%
        %h3.secondary of La Cocina business owners are women
      .large-6.columns
        %h1.primary 91%
        %h3.primary people of color
    .row
      .large-6.columns
        %hr
        %h1.primary 70%
        %h3.primary parents
      .large-6.columns
        %hr
        %h1.secondary 60%
        %h3.secondary immigrants
    .row
      = link_to 'Learn more about La Cocina', '/mission', class: 'expanded hollow button'
  .large-4.columns.map
    %h6 Find La Cocina businesses around you!
    %iframe{src: "https://www.google.com/maps/d/embed?mid=1OcGetCOiKBlGyYudjmBuRQSnOC0", style: "height:300px;width:100%;"}
    // #gmap_canvas{:style => "height:300px;width:100%;"}
    //:javascript
    //  function initMap() {
    //    var myOptions = { zoom: 12,
    //                      center: new google.maps.LatLng(37.7749295,-122.41941550000001),
    //                      mapTypeId: google.maps.MapTypeId.ROADMAP,
    //                      mapTypeControl: false,
    //                      streetViewControl: false
    //                    };
    //    var businesses = #{businesses_with_locations.to_json}
    //    var map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
    //    for (var i = 0; i < businesses.length; i++) {
    //      for (var j = 0; j < businesses[i].coordinates.length; j++) {
    //        var marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(businesses[i].coordinates[j][0], businesses[i].coordinates[j][1])});
    //        var popup = "<strong>"+businesses[i].name+"</strong><br>"+businesses[i].address
    //        var infowindow = new google.maps.InfoWindow({content: popup});
    //        google.maps.event.addListener(marker, 'click', function() {
    //          infowindow.open(map, marker);
    //        });
    //      }
    //    }
    //  }
    //%script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap", async: true, defer: true}
    // = link_to 'View business on the map', '/volunteer', class: 'expanded button'

.row
  - if work_in_progress?
    .large-8.columns
      = render partial: 'businesses'
  - if work_in_progress?
    .large-4.columns
      .row
        %h6.secondary Our Newsletter
        %p stay informed - sign in with your email address below to receive updates about La Cocina
      .row
        %h6.secondary Stay Connected
      .row
        .fb-follow{'data-href': "https://www.facebook.com/lacocinasforg", 'data-layout': "standard", 'data-size': "large", 'data-show-faces': "true"}
      .row
        = link_to "Follow @lacocinasf", "https://twitter.com/lacocinasf", class: "twitter-follow-button", 'data-show-count': true, 'data-size': 'large'
        %script{async: true, src: "//platform.twitter.com/widgets.js", charset: "utf-8"}
      .row
        %script{src: "https://apis.google.com/js/platform.js"}
        .g-ytsubscribe{'data-channel': "LaCocinaSForg", 'data-layout': "default", 'data-count': "default"}
      .row
        %blockquote.instagram-media{'data-instgrm-captioned': "", 'data-instgrm-version': "7", style: " background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"}
          %div{style: "padding:8px;"}
            %div{style: " background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"}
            %div{style: " background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"}
            %p{style: " margin:8px 0 0 0; padding:0 4px;"}
            %a{:href => "https://www.instagram.com/p/91RxvVEpNn/", :style => " color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;", :target => "_blank"} delicious scones and muffins from @agirlnamedpinky and @crumbleandwhisk. Cold brew nitro from @equatorcoffees. I had no idea what that was but it was delicious. Caffeine and sugar. Ready for conference!
            %p{style: " color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"}
              A photo posted by La Cocina (@lacocinasf) on
              %time{datetime: "2015-11-08T17:37:09+00:00", style: " font-family:Arial,sans-serif; font-size:14px; line-height:17px;"} Nov 8, 2015 at 9:37am PST
        %script{async: "", defer: "defer", src: "//platform.instagram.com/en_US/embeds.js"}
