.row
  = image_tag 'home_banner_1_placeholder.png'

.row.call-to-action-boxes
  .medium-4.columns.text-center
    = image_tag 'event.png'
    %h4 La Cocina Events
    %p Eat, laugh and learn something new
    = link_to 'See our events', events_path, class: 'button'
  .medium-4.columns.text-center
    = image_tag 'involved.png'
    %h4 Get Involved
    %p Be part of the movement
    = link_to 'Get Involved', '/get_involved', class: 'button'
  .medium-4.columns.text-center
    = image_tag 'gift.png'
    %h4 La Cocina Gift Boxes
    %p Make a difference
    = link_to 'Buy a gift box', 'http://lacocinastore.mybigcommerce.com/gift-box', class: 'button'

.row
  = image_tag 'home_banner_2_placeholder.png'

- if work_in_progress?
  .row
    .large-8.columns.stats
      .large-6.columns
        %h1.primary
          36
          %small.primary business owners
        %hr
        %h1.secondary
          95%
        %h4
          %small.secondary of La Cocina business owners are women
      .large-6.columns
        %h1.secondary
          19
          %small.secondary immigrants
        %hr
        %h1.primary
          +150,000
        %h4
          %small.primary hours of kitchen rental
      .large-12.columns
        = link_to 'Help Us Continue Our Mission', '#', class: 'expanded hollow button'
    .large-4.columns.map
      %h6 Find La Cocina businesses around you!
      #gmap_canvas{:style => "height:300px;width:100%;"}
      :javascript
        function initMap() {
          var myOptions = { zoom: 12,
                            center: new google.maps.LatLng(37.7749295,-122.41941550000001),
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            mapTypeControl: false,
                            streetViewControl: false
                          };
          var businesses = #{businesses_with_locations.to_json}
          var map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
          for (var i = 0; i < businesses.length; i++) {
            for (var j = 0; j < businesses[i].coordinates.length; j++) {
              var marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(businesses[i].coordinates[j][0], businesses[i].coordinates[j][1])});
              var popup = "<strong>"+businesses[i].name+"</strong><br>"+businesses[i].address
              var infowindow = new google.maps.InfoWindow({content: popup});
              google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
              });
            }
          }
        }
      %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap", async: true, defer: true}
      = link_to 'View business on the map', '#', class: 'expanded button'

- if work_in_progress?
  .row
    .large-8.columns
      %h2 Stay Connected
      .social-media-links
        %span facebook
        %span twitter
        %span instagram
        %span youtube
    .large-4.columns
      %h2 Our Newsletter
      %p stay informed - sign in with your email address below to receive updates about La Cocina

- if work_in_progress?
  = render partial: 'businesses'
