.events-page
  .hero
    .image-callout
      = image_tag "events/combined-shape-events.svg"
      .text
        .responsive-typography.h2 events
    = responsive_image_tag 'mission/mission_banner.jpg'

  .row
    %h1.text-center Our Events

  .row
    %p.text-center Join La Cocina for our annual artisan culinary classes. La Cocina offers hands-on cooking classes in fun environment where you will have the opportunity to learn from some of the best cooks in the city in an environment that can’t beat. All proceeds from these classes go to support La Cocina’s mission of providing affordable commercial kitchen space and technical assistance to low income entrepreneurs launching food business.

  .events
    .row
      %h1.text-center Upcoming Events

    - @events.each do |event|
      .row.event
        .large-2.columns.event-image
          = image_tag ("events/" + event.image)

        .large-10.columns
          .title= event.title
          .date= event.subTitle

          %p= event.content

          .action-bar
            - event.actions.each do |action|
              - type = action[:type] ? action[:type] : ""
              = link_to action[:label], action[:url], { target: "_blank", class: "button " + type }
