:scss
  .embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 407px;
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .loadImg {
    position: relative;
    top: 60%;
    margin: 0 auto;
    width: 30%;
    z-index: 999;
    div {
      display: table-cell;
      width: 200px;
      height: 200px;
      text-align: center;
      vertical-align: middle;
    }
  }
:javascript
  function load(){
    $('.loadImg').css('display','none')
  }

.donate-page.monthly
  .hero
    .image-callout
      = image_tag "combined-shape.svg"
      .text.responsive-typography.h3 Become a key ingredient in La Cocina's success
    = responsive_image_tag 'donate.jpg'
  .membership-cta
    %h2 Become a member today.

  .membership-choices.text-center
    %h2 Enjoy these benefits:
    .row
      .large-4.columns
        • A passport to dine your way through La Cocina graduate restaurants while
        %strong earning points that can be redeemed for prizes
        like a free gift box!
      .large-4.columns
        • Exclusive quarterly newsletter for members including: Recipes, Food Recommendations, Thought Leadership Essay, Direct Stories of Impact.
      .large-4.columns
        • Exclusive membership
        %strong pre-sales for all events.

    .row
      .large-4.columns
        .option
          .title $10 monthly
          %p
            %strong Pays for 1 hour of subsidized kitchen rental for 1 entrepreneur per month.
          %p
            Get a
            %strong La Cocina Membership Card.

      .large-4.columns
        .option
          .title $25 monthly
          %p
            %strong Covers the cost of How to Start Your Business workshop for 50 aspiring entrepreneurs.
          %p
            Get your membership card and get
            %strong your name on the honor roll
            on our website acknowledging donors.

      .large-4.columns
        .option
          .title $50 monthly
          %p
            %strong Covers the start-up costs for an entrepreneur to enter into a new farmers market.
          %p
            %strong All previously mentioned perks plus a La Cocina hoodie ($29 value) and Members Circle Events.

    .row
      .large-4.columns
        .option
          .title $100 monthly
          %p
            %strong Allows us to call the repairman the next time the hobart mixer or dishwasher break.
          %p
            %strong All previously mentioned perks plus a private tour for up to 8
            and
            %strong "bento box" lunch
            featuring tasty bites from La Cocina businesses ($96 value).

      .large-4.columns
        .option
          .title $2500+ annually
          %p
            %strong Supports pro-bono attorneys working alongside a new cohort to create legal business entities.
          %p
            All the previously mentioned perks,
            %strong Subscription to F&B: Voices from the Kitchen
            (twice-yearly storytelling event at the Swedish American Hall) ($90 value) and a
            %strong highlight in our Annual Report.

      .large-4.columns
        .option
          .title $5000+ annually
          %p
            %strong Supports 67 hours of technical-assistance in product, marketing and finance curriculum for an aspiring entrepreneur.
          %p
            Get all of our perk and let us host a
            %strong dinner for 10 with a La Cocina chef of your choice
            (at your home or in La Cocina's kitchen!).

  .row
    .large-4.large-offset-4.columns.text-center
      .embed-container
        .loadImg
          = image_tag 'loading.svg'
        %iframe{src: "https://connect.clickandpledge.com/w/Organization/lacocinasf/paymentwidget/b58b99c2-f73d-4ca0-a69a-8270acfb87e3", frameborder: "0", allowfullscreen: true, name: "iframe",onload: "load()"}
  .testimonial
    = image_tag "donate_monthly/testimonial.jpg"
    .text
      .quote.responsive-typography.h3 "Whenever I’ve wanted to give up, they've kept throwing resources at me left and right, which have paid off tenfold."
      .responsive-typography.h4 Reem Assil. Reem's California

  .row.large-12.text-center.support
    .row.text-center
      %h2 What Your Donation Helps to Support
      %p.sub-header 100% of your donation goes to program operating costs which allow La Cocina to provide low income entrepreneurs with the following resources:

      .resources
        .row
          .large-6.columns
            %p.title Subsidized commercial kitchen space
            %p.description Access to an affordable commercial kitchen is one of the largest barriers to entry for up and coming food entrepreneurs. Donations allow us to subsidize our kitchen rental. Program participants at La Cocina pay an average of $13/hour for kitchen rental space saving them thousands of dollars annually.

          .large-6.columns
            %p.title Industry-Specific Technical Assistance
            %p.description We provide 2,000 hours of technical-assistance annually, beginning with a 6-month intensive curriculum in product, finance, marketing and operations and followed by one on one monthly consultations. A rich network more than 200 dedicated professionals provides free or subsidized technical assistance in everything from product development to financial forecasting to photography.

        .row.text-center
          .large-6.columns
            %p.title Workshops
            %p.description From marketing your business to HR employment law, La Cocina facilitates workshops to its clients and the general public in various aspects of food business knowledge.

          .large-6.columns
            %p.title Access to Markets and Market Positioning
            %p.description La Cocina connects vendors to market opportunities like special catering events, farmers’ markets and ultimately, brick & mortars to sell their incredible food and grow their businesses

    .row.text-center
      %h2.copper Our Entrepreneurs
      = render partial: 'partials/businesses', locals: { businesses: featured_businesses }
