:scss
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: 325px;
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.row
  .large-8.columns
    = image_tag 'home_banner_1.png'
  .large-4.columns
    .embed-container
      %iframe{src: "https://connect.clickandpledge.com/w/Organization/lacocinasf/paymentwidget/06e3dbaf-d3f9-4dde-96ce-1feec8319d2a", frameborder: "0", allowfullscreen: true}

.row
  .large-12.columns.text-center
    %h1 Be part of defining what La Cocina can mean
    .row
      %p The mission of La Cocina is to cultivate low-income food entrepreneurs as they formalize and grow their businesses by providing affordable commercial kitchen space, industry-specific technical assistance and access to market opportunities. We focus primarily on women from communities of color and immigrant communities. Our vision is that entrepreneurs will become economically self-sufficient and contribute to a vibrant economy doing what they love to do.

    .row.text-center.col-5
      %h2.copper Our Participants
      .large-2.columns
        %div.icon-box
          = image_tag 'icons/chef.svg'
        %p Have a strong desire to own a business
      .large-2.columns
        %div.icon-box
          = image_tag 'icons/food.svg'
        %p Have a high quality food product often sold informally
      .large-2.columns
        %div.icon-box
          = image_tag 'icons/apron.svg'
        %p Have 6 employees or less
      .large-2.columns
        %div.icon-box
          = image_tag 'icons/savings.svg'
        %p Have $35,000 worth of assets or less (taking liabilities into account)
      .large-2.columns.end
        %div.icon-box
          = image_tag 'icons/income.svg'
        %p Are low to very low income (according to U.S. Department of Housing and Urban Development guidelines)
    .row.text-center
      .large-4.columns
        %h4.copper The Need
        %p The idea for La Cocina emerged the recognition of strong desire among immigrant women in the Mission to start their own food businesses and the realization of the obstacles preventing them from doing so.
      .large-4.columns
        %h4.copper What They Have
        %p Entrepreneurial Spirit, Business Plans and <strong>Phenomenal Food</strong>.
      .large-4.columns
        %h4.copper What They Lack
        %p Access to markets, Commercial Kitchen space, Technical Assistance and Access to Capital.
    %hr
    .row.text-center
      %h2.copper Local Community
      %h4
        %small
          We also aim to provide resources to local entrepreneurs who are not part of our program, as well as delicious products to food enthusiasts throughout the Bay Area.
    .row.text-center.vertically-centered
      .large-4.columns.right-border
        %h3 $2.9 million
        %p.subtext in revenue
        %h3 jobs
        %p.subtext full time, part time and contractors
      .large-4.columns
        %h3 $435,000 owners pay
        %p.subtext 37% increase from 2013
        %h3 $850,000
        %p.subtext wages paid
      .large-4.columns.text-left
        %p The milestones that La Cocina and its client businesses reached this year continue to affirm our belief that, given the right resources, any business can succeed. That is why we are presenting you with an opportunity to support La Cocina and help these business achieve that success.

        %p Every dollar counts. For every $1 you donate, the businesses generate $3 of revenue for the local economy plus an average of 2 jobs per business. Imagine what your donation of $50, $75, or $100 will mean to aspiring entrepreneurs, their families, and our community.
    %hr
