.row
  = image_tag 'home.jpg'

.row
  .large-4.columns
    %h2 Donate
    = link_to 'Donate', '#', class: 'button'
  .large-4.columns
    %h2 Volunteer
    = link_to 'I Want To Help', '#', class: 'button'
  .large-4.columns
    %h2 Other Ways To Help
    = link_to 'Discover How You Can Help', '#', class: 'button'

.row
  %h2 Donation Info
  %p some copy on how La Cocina is run thanks to the volunteers and donations

.row
  %h2 Upcoming Events
  = link_to 'Attend Our Events', '#', class: 'button'
