.incubator-page.text-center
  .hero
    .image-callout
      = image_tag "incubator/rectangle.svg"
      .text la cocina incubator program
    = responsive_image_tag "incubator/hero.jpg"

  .row
    %h2 APPLYING TO LA COCINA
    %p La Cocina’s program is limited to a few businesses that are identified as qualified after completing the application and assessment process.
    %p
      Interested in applying? Learn what your first steps are
      = succeed '.' do
        %a(href="#3steps") here
    %p
      Non-qualified businesses may
      %span= link_to "apply as commercial kitchen users >", "/apply"

  .row.incubator-program
    %h2 INCUBATOR PROGRAM
    %p The National Business Incubation Association defines a business incubator as a comprehensive-assistance program targeted to help start-up and early-stage firms, with the goal of improving their chances to grow into healthy, sustainable companies.
    %p Here at La Cocina, each qualified kitchen user is a separate business entity. This means that each business must have its own business license, insurance, staff, business records, tax returns and so forth. Each business owner will also be responsible for complying with the city, state and federal regulations concerning licensing, food safety and sanitation, taxes, employment, etc.

    %h3 The cycle of the incubator model as applied here looks something like this:

    .row
      .columns.large-6
        .title 1. Application and Enrollment
        .description Qualified Applicants

      .columns.large-6
        .title 2. Pre-Incubation
        .description A 6-month period where program participants receive technical assistance to establish the foundations of their business in the areas of Product, Marketing, Finances, and Operations.

    .row
      .columns.large-6
        .title 3. Incubation
        .description Program participants whose first 6 months have been successful continue to receive technical assistance in all of those areas and have access to affordable commercial kitchen space to grow their businesses’s sales.

      .columns.large-6
        .title 4. Graduation and Alumni
        .description Program participants reach all established Incubation benchmarks and expand their business out of La Cocina’s kitchen while remaining part of the alumni community.


  .qualification-criteria
    .row
      %h2 Qualification Criteria
      .subheader La Cocina screens applicants to the kitchen for a variety of qualifications. The incubation program is not for everyone and La Cocina requires that participants be:

    .row
      %h3 Low Income
      %p La Cocina only works with low and very low-income entrepreneurs, following HUD listings to determine low-income eligibility for our incubator program. We use current income and look carefully at total assets and on each person’s ability to access capital for their business idea (be that through friends/family, education, work experience, etc). Our program is funded by foundations and individual donors who are interested in providing opportunities to people who otherwise wouldn’t have access to them so we look at each case individually and are most interested in working with entrepreneurs who are truly low income and low asset and who can most benefit from our incubator’s services.

    .row
      %h3 Business Ready
      %p Ready-to-Start businesses, that is, qualified applicants who show evidence that they are business and personally ready, and whose business shows potential to succeed will be the highest priority. Readiness is a personal and business stage where people have already taken action to advance in their business venture, have researched and tested a feasible business, have developed some entrepreneurial skills and have achieved a threshold of personal circumstance favorable to successful management of the business. La Cocina can consider candidates who need time to achieve business readiness if they show promise.

    .row
      %h3 Micro Businesses
      %p Business of with a maximum of 5 employees with below $35,000 in assets will be La Cocina’s highest priority. La Cocina encourages the formation of small cooperatives and will consider such collaborations as a high priority.

    .row
      .subheader La Cocina carefully screens applicants in order to find indicators that suggest an entrepreneur’s business readiness level as well as a business idea’s chance for success in the industry. The application process will help assess:

    .row
      %h3 Entrepreneurial Skills and Competencies
      %p La Cocina assesses the applicant’s professional experience, entrepreneurial spirit, openness to learning new skills and making necessary changes and an ability to cooperate in a challenging and busy environment.

    .row
      %h3 Product Viability
      %p At interviews, La Cocina staff samples products and menu items from each business to see if the proposed product or concept has the potential to be successful.

    .row
      %h3 Community Spirit
      %p La Cocina’s kitchen is a shared space and the incubator is a community that requires its members to work together. We look for candidates who will be:
      %ul
        %li Flexible in sharing equipment and able to work with the people around them
        %li Capable of scheduling their kitchen use times in advance, adhering to their own schedules and planning realistically
        %li Willing to share financial and business information and statistics with La Cocina staff
        %li Willing to implement changes and take advice in order to improve their business or product
        %li Open to finding new ways of doing business, including potential partnerships and/or collaborations with other tenants
        %li Receptive to La Cocina technical assistance and training
        %li Able to comply with La Cocina food safety and sanitation policies
        %li Responsible for following the rules and regulations of La Cocina

  .steps#3steps
    %h2 There are three steps in the process
    .step.row
      .title attend orientatioN
      .description
        %p This workshop is free and open to the public but we suggest that you sign up ahead of time to make checking in easier. We will send a confirmation email 1 week before the orientation to confirm your sign up. All orientations take place on Wednesdays from 6-8pm at La Cocina.

        %p
          %strong In 2018 our Orientations will take place on January 31st, March 28th, May 30th, July 25th, September 26th and November 28th

        =link_to "Register For Free", "https://www.eventbrite.com/e/la-cocina-orientation-orientacion-de-la-cocina-tickets-19178264706", { target: "_blank", class: "button" }

    .step.row
      .title attend OFFICE HOURS
      .description
        %p Office Hours are optional, but highly suggested for anyone who is interested in applying. Office Hours are free and open to anyone who has attended an orientation and signs up. Following every orientation, La Cocina staff will be available on a designated day to answer questions relating to business planning or to the application. We will send a confirmation email on the last day people can sign up with a calendar of available time slots throughout the day and into the evening.

        %p
          %strong In 2018 our Office Hours will take place on February 15th, April 19th, June 21st, August 16th, October 18th and November 15th

        =link_to "Register For Free", "https://www.eventbrite.com/e/office-hours-horas-de-consulta-tickets-19178682957", { target: "_blank", class: "button" }

    .step.row
      .title Showcase at our Drop in Market
      .description
        %p Three times a year we open up the kitchen for aspiring food entrepreneurs to sample their product and connect with small business support resources. La Cocina staff and program managers from many support and lending organizations in the Bay Area are present. La Cocina will provide a small reimbursement for food to the vendors. This is optional but highly suggested for anyone who is interested in applying.

        %p
          If you are interested, please contact
          =link_to "apply@lacocinasf.org.", "mailto:apply@lacocinasf.org", { target: "_blank" }
          %br
          %strong In 2018 our markets will take place on – February 21st, May 9th and August 8th
          %br
          All Drop in Markets take place on Wednesdays from 6-8pm at La Cocina

    .step.row
      .title TURN IN APPLICATION
      .description
        %p La Cocina application explains all of the information you will need to get together in order to apply to the incubator program. In addition to completing the application form, you will need to provide a completed business plan including financials, your resume, two letters of recommendation for the program and proof of your current income.
        %p
          %strong We have three application dates in 2018 – March 8th, June 1st , September 5th
        %p
          Only completed applications will be considered. They must be either delivered or mailed as a hard copy AND sent as an electronic copy via email to
          =link_to "apply@lacocinasf.org", "mailto:apply@lacocinasf.org", { target: "_blank" }
          on or before the application date.
        %p After turning in the application, qualified applicants will be invited to a personal interview with La Cocina staff and advisory committee. For those not qualified La Cocina will make an effort to provide referrals to other organization for further training. If enrollment is approved, the prospective program participant will receive a pre-incubation plan that will include fixed benchmarks and goals for the period of pre-incubation.
        %p= link_to "Download Application", "https://lacocinasf.app.box.com/s/oz0b3f5hjn44uy53ux2zz98pt1w4p5d2/1/3271054904/27458144348/1", { target: "_blank", class: "button" }
        %p= link_to "Descarga Este Formulario En Español", "https://lacocinasf.app.box.com/shared/oz0b3f5hjn44uy53ux2zz98pt1w4p5d2/1/3271054904/27458144466/1", { target: "_blank", class: "button" }
