.row
  %h1 There are other ways to support La Cocina
  %p
    %b copy needed
  %p
    Sed quunt prorrum quissitem veriori onsequam, eliquatio consed eosam sae ratur, corposantium voluptatur restis et volorpori blam, cuptis dus atia voluptatque
    vide doluptat quam, omnim haruptatiisi cus, comni rercim re et alibusciundi alibus elecus con corerum eiunt, tota qui deribus autatiam, quam que voluptatur ma
    pro explat quiat aut mil et pror ab is inciasi demporepudae expere nat ommo exceaque prehent lant as iunt pa si aut es quam, natur? Ihillacessim faciate et eiciis
    re doluptas es ad qui ommo exeri inci dolor sanda aut velitin ctiori ut que cus et evere dignit aliquassequi as andiam sequas doluptate perestiatus solut voluptatur,
    sequiandae molupta spedis senis dolorum, iuntiorio iliaeceped quunt dis eos et explam dolesto et exerro odis et accusci cum quiderio. Am culles et acepudisit ut
    rerenem dolupta quidunt.

.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %h2 Attend events organized by la cocina
    %p
      Farm To Fork San Francisco is gathering advocates and lovers of food in an effort to raise awareness around sustainability issues
      and showcase the best farms, artisan food producers, breweries, cideries, distilleries and wineries in the Bay Area.
      In the free-of-charge exhibitor section of the multi-level event, attendees will have the opportunity to purchase products, view
      demonstrations, engage in interactive exhibits, and sample complimentary items from some of the Bay Area’s top food and
      beverage producers.
    %p
      The expo will also host a ticketed conference featuring speaker panels from a diverse lineup of thought leaders in food justice and
      sustainability, as well as a keynote presentation from Ron Finley, “Guerilla Gardening” pioneer and former TED Talk presenter.
      To cap off the event, Farm To Fork SF will host an afterparty featuring drink specials, a DJ set from Erykah Badu, AKA Lo Down
      Loretta Brown, and live entertainment from stic.man of the influential hip hop group, Dead Prez, plus more.
    = link_to 'See our Events >', '#', class: 'button'

.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %h2 Amazon Smile
    %p
      %b copy needed
    %p
      Sed quunt prorrum quissitem veriori onsequam, eliquatio consed eosam sae ratur, corposantium voluptatur restis et volorpori blam, cuptis dus atia voluptatque
      vide doluptat quam, omnim haruptatiisi cus, comni rercim re et alibusciundi alibus elecus con corerum eiunt, tota qui deribus autatiam, quam que voluptatur ma
      pro explat quiat aut mil et pror ab is inciasi demporepudae expere nat ommo exceaque prehent lant as iunt pa si aut es quam, natur? Ihillacessim faciate et eiciis
      re doluptas es ad qui ommo exeri inci dolor sanda aut velitin ctiori ut que cus et evere dignit aliquassequi as andiam sequas doluptate perestiatus solut voluptatur,
      sequiandae molupta spedis senis dolorum, iuntiorio iliaeceped quunt dis eos et explam dolesto et exerro odis et accusci cum quiderio. Am culles et acepudisit ut
      rerenem dolupta quidunt.
    = link_to 'Visit Amazon Smile', '#', class: 'button'

.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %h2 Hire our Business
    %p
      %b copy needed
    %p
      Sed quunt prorrum quissitem veriori onsequam, eliquatio consed eosam sae ratur, corposantium voluptatur restis et volorpori blam, cuptis dus atia voluptatque
      vide doluptat quam, omnim haruptatiisi cus, comni rercim re et alibusciundi alibus elecus con corerum eiunt, tota qui deribus autatiam, quam que voluptatur ma
      pro explat quiat aut mil et pror ab is inciasi demporepudae expere nat ommo exceaque prehent lant as iunt pa si aut es quam, natur? Ihillacessim faciate et eiciis
      re doluptas es ad qui ommo exeri inci dolor sanda aut velitin ctiori ut que cus et evere dignit aliquassequi as andiam sequas doluptate perestiatus solut voluptatur,
      sequiandae molupta spedis senis dolorum, iuntiorio iliaeceped quunt dis eos et explam dolesto et exerro odis et accusci cum quiderio. Am culles et acepudisit ut
      rerenem dolupta quidunt.
    = link_to 'Catering Hire >', '#', class: 'button'

.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %h2 Team Building
    %p
      %b copy needed
    %p
      Sed quunt prorrum quissitem veriori onsequam, eliquatio consed eosam sae ratur, corposantium voluptatur restis et volorpori blam, cuptis dus atia voluptatque
      vide doluptat quam, omnim haruptatiisi cus, comni rercim re et alibusciundi alibus elecus con corerum eiunt, tota qui deribus autatiam, quam que voluptatur ma
      pro explat quiat aut mil et pror ab is inciasi demporepudae expere nat ommo exceaque prehent lant as iunt pa si aut es quam, natur? Ihillacessim faciate et eiciis
      re doluptas es ad qui ommo exeri inci dolor sanda aut velitin ctiori ut que cus et evere dignit aliquassequi as andiam sequas doluptate perestiatus solut voluptatur,
      sequiandae molupta spedis senis dolorum, iuntiorio iliaeceped quunt dis eos et explam dolesto et exerro odis et accusci cum quiderio. Am culles et acepudisit ut
      rerenem dolupta quidunt.
    = link_to 'Read More >', '#', class: 'button'


.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %h2 Spread the word around- share La Cocina's mission with your friends
    %p
      %b copy needed
    %p
      Sed quunt prorrum quissitem veriori onsequam, eliquatio consed eosam sae ratur, corposantium voluptatur restis et volorpori blam, cuptis dus atia voluptatque
      vide doluptat quam, omnim haruptatiisi cus, comni rercim re et alibusciundi alibus elecus con corerum eiunt, tota qui deribus autatiam, quam que voluptatur ma
      pro explat quiat aut mil et pror ab is inciasi demporepudae expere nat ommo exceaque prehent lant as iunt pa si aut es quam, natur? Ihillacessim faciate et eiciis
      re doluptas es ad qui ommo exeri inci dolor sanda aut velitin ctiori ut que cus et evere dignit aliquassequi as andiam sequas doluptate perestiatus solut voluptatur,
      sequiandae molupta spedis senis dolorum, iuntiorio iliaeceped quunt dis eos et explam dolesto et exerro odis et accusci cum quiderio. Am culles et acepudisit ut
      rerenem dolupta quidunt.
    = link_to 'YouTube Channel', '#', class: 'button'
    = link_to 'Instagram Follow', '#', class: 'button'
    = link_to 'Twitter Share', '#', class: 'button'
    = link_to 'Facebook Share', '#', class: 'button'
