.people-page
  = image_tag "people/hero.jpg"
  - people_page.each do |person|
    .row.person
      .large-4.columns
        .photo
          = image_tag "people/" + person[:photo]

      .large-8.columns
        .info
          .name= person[:name]
          .title= person[:title]
        .contact
          .phone= "contact: " + person[:phone]
          .email
            email:
            %span= link_to person[:email], "mailto:" + person[:email]
          .tagline= person[:tagLine]
        .content
          - person[:content].each do |item|
            %p= item
