.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %h2 An Immigrant’s Journey From Shadowy Food Carts to Successful Entrepreneurship
    %p
      June 13, 2012 — Tomorrow at lunch time, she will sell her tamales to the financiers who crowd outside the Ferry Building for a taste
      of the street-food craze sweeping San Francisco. But tonight, she gets to do what she loves most: prepare the recipes learned from
      her mother and ...
    = link_to 'Read More >', '#', class: 'button'
.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %h2 An Immigrant’s Journey From Shadowy Food Carts to Successful Entrepreneurship
    %p
      June 13, 2012 — Tomorrow at lunch time, she will sell her tamales to the financiers who crowd outside the Ferry Building for a taste
      of the street-food craze sweeping San Francisco. But tonight, she gets to do what she loves most: prepare the recipes learned from
      her mother and ...
    = link_to 'Read More >', '#', class: 'button'
.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %h2 An Immigrant’s Journey From Shadowy Food Carts to Successful Entrepreneurship
    %p
      June 13, 2012 — Tomorrow at lunch time, she will sell her tamales to the financiers who crowd outside the Ferry Building for a taste
      of the street-food craze sweeping San Francisco. But tonight, she gets to do what she loves most: prepare the recipes learned from
      her mother and ...
    = link_to 'Read More >', '#', class: 'button'
.row
  .large-2.columns
    = image_tag 'thumbnail_placeholder.png', class: 'thumbnail'
  .large-10.columns
    %h2 An Immigrant’s Journey From Shadowy Food Carts to Successful Entrepreneurship
    %p
      June 13, 2012 — Tomorrow at lunch time, she will sell her tamales to the financiers who crowd outside the Ferry Building for a taste
      of the street-food craze sweeping San Francisco. But tonight, she gets to do what she loves most: prepare the recipes learned from
      her mother and ...
    = link_to 'Read More >', '#', class: 'button'
