%header
  .row
    %nav.top-bar{'data-topbar' => true, role: 'navigation'}
      .top-bar-title
        = link_to '#' do
          = image_tag 'logo.png'
      .top-bar-left
        %ul.menu
          %li
            = link_to 'About Us', '#'
          %li
            = link_to 'Get Involved', '#'
          %li
            = link_to 'Events', '#'
          %li
            = link_to 'Start A Business', '#'
          %li
            = link_to 'Cater With Us', '#'
          %li
            = link_to 'Store', '#'
      .top-bar-right
        %ul.menu
          %li
            %button.button
              Donate
