%header
  .row.heading
    .title-bar{'data-responsive-toggle': 'top-menu', 'data-hide-for': 'medium'}
      %button.menu-icon{'type': 'button', 'data-toggle': true}
      .title-bar-title Menu
    %nav#top-menu.top-bar{'data-topbar': true, role: 'navigation'}
      .top-bar-title.logo-size.show-for-large
        = link_to root_path do
          = image_tag 'logo.png'
      .top-bar-left
        %ul.dropdown.vertical.medium-horizontal.menu{'data-responsive-menu': 'drilldown medium-dropdown', 'data-responsive-toggle': true}
          %li.has-submenu
            = link_to 'About Us', '#'
            %ul.menu.submenu.vertical{'data-submenu': true}
              %li
                = link_to 'Mission', '/mission'
              %li
                = link_to 'People', '/people'
              %li
                = link_to 'Press', '/press'
          %li.has-submenu
            = link_to 'Get Involved', '#'
            %ul.menu.submenu.vertical
              %li
                = link_to 'Donate', 'https://co.clickandpledge.com/advanced/default.aspx?wid=98625'
              %li
                = link_to 'Volunteer', '/volunteer'
              %li
                = link_to 'Other Ways', '/other_ways_to_help'
          %li
            = link_to 'Events', events_path
          %li.has-submenu
            = link_to 'Start A Business', '#'
            %ul.menu.submenu.vertical
              %li
                = link_to 'Learn More & Apply', '#'
              %li
                = link_to 'Resources For Business Owners', '#'
          %li
            = link_to 'Cater With Us', '#'
          %li
            = link_to 'Store', 'http://lacocinastore.mybigcommerce.com'
      .top-bar-right
        %ul.menu
          %li
            = link_to 'Donate', 'https://co.clickandpledge.com/advanced/default.aspx?wid=98625', class: 'button'
