%header
  .row
    Logo
    Donate
  %nav.top-bar{'data-topbar' => true, role: 'navigation'}
    %ul.title-area
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      %li.toggle-topbar.menu-icon
        = link_to '#' do
          %span Menu
    %section.top-bar-section
      <!-- Right Nav Section -->
      %ul.right

      <!-- Left Nav Section -->
      %ul.left
        %li
          = link_to 'Home', '#'
        %li
          = link_to 'About Us', '#'
        %li
          = link_to 'Ways To Help', '#'
        %li
          = link_to 'Events', '#'
        %li
          = link_to 'For Entrepreneurs', '#'
        %li
          = link_to 'Our Businesses', '#'
        %li
          = link_to 'Catering', '#'
        %li
          = link_to 'Store', '#'
