%header
  .row.heading
    .hide-for-large
      .top-bar.mobile-bar{'data-responsive-toggle': 'offCanvasMenu', 'data-hide-for': 'large'}
        %button.menu-icon{'type': 'button', 'data-toggle': 'offCanvasMenu'}
        .mobile-bar-title
          = link_to root_path do
            = image_tag 'logo.svg'

    .show-for-large
      %nav#top-menu.top-bar{'data-topbar': true, role: 'navigation'}
        .top-bar-title.logo-size
          = link_to root_path do
            = image_tag 'logo.svg'

        .social-media-icons
          = render partial: 'layouts/social_media'
          = link_to 'Donate', '/donate', class: 'button'
          - if signed_in?
            = link_to "Sign Out", sign_out_path, method: :delete

        %ul.dropdown.menu{'data-dropdown-menu': true}
          - menu_items.each do |menu_item|
            - klass = menu_item[:submenu] ? 'is-dropdown-submenu-parent' : ''
            %li{class: klass}
              = link_to menu_item[:name], menu_item[:url]
              - if menu_item[:submenu]
                %ul.menu.submenu.vertical{'data-submenu': true}
                  - menu_item[:submenu].each do |submenu_item|
                    %li
                      = link_to submenu_item[:name], submenu_item[:url]
