%header
  .row
    %nav.top-bar{'data-topbar' => true, role: 'navigation'}
      .top-bar-title
        = link_to '#' do
          = image_tag 'logo.png'
      .top-bar-left
        %ul.dropdown.menu{'data-dropdown-menu': true}
          %li
            = link_to 'About Us', '#'
            %ul.menu.vertical
              %li
                = link_to 'Mission', '#'
              %li
                = link_to 'People', '#'
              %li
                = link_to 'Press', '#'
          %li
            = link_to 'Get Involved', '#'
            %ul.menu.vertical
              %li
                = link_to 'Get Involved', '#'
              %li
                = link_to 'Donate', '#'
              %li
                = link_to 'Volunteer', '#'
              %li
                = link_to 'Other Ways', '#'
          %li
            = link_to 'Events', '#'
          %li
            = link_to 'Start A Business', '#'
            %ul.menu.vertical
              %li
                = link_to 'Learn More & Apply', '#'
              %li
                = link_to 'Resources For Business Owners', '#'
          %li
            = link_to 'Cater With Us', '#'
          %li
            = link_to 'Store', 'http://lacocinastore.mybigcommerce.com'
      .top-bar-right
        %ul.menu
          %li
            = link_to 'Donate', '#', class: 'button'
